@import url("../style/fonts.css");
@import url("../style/style.css");
/* @import '~react-toastify/dist/ReactToastify.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: iransans;
}


/* width */
::-webkit-scrollbar {
  direction: rtl;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5f5e5e;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.banner-container {
  width: 100vw;
  height: calc(100vh - 0px);
  overflow: hidden;
  position: relative;
  -webkit-animation: zoomin 30s ease-in infinite;
  animation: zoomin 30s ease-in infinite;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 
body {
  background-image: url("/images/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  /* z-index: -10; 
  opacity: 0.4;


}
 */

/* .swiper {
  width: 600px;
  height: 300px;
} */

.swiper-button-prev,
.swiper-button-next {
  color: #2AD4FF;
  font-size: 8px;
  opacity: 0.3
    /* height: 12px; */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #1dcdf9;
  opacity: 1
    /* height: 12px; */
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center
  }

  .role-section {
    @apply col-span-1 cursor-pointer bg-gradient-to-b from-primary_color via-primary_color to-secondary_color rounded-lg overflow-hidden flex-col-center w-36
  }

  .input-text {
    @apply text-[14px] border-2 px-4 p-2 rounded-md w-full outline-none text-header-font-color;
  }

  .input-text-information {
    @apply text-[14px] border-[1px] px-4 p-2 rounded-t-md w-full outline-none text-header-font-color;
  }

  .input-text-modal {
    @apply text-[16px] border-[1px] px-4 p-2 rounded-md w-full outline-none text-header-font-color;
  }

  .sidebar_item {
    @apply w-full py-2 px-2 flex flex-col cursor-pointer bg-slate-300 mt-2;

  }

  .header-table {
    @apply mb-4 p-4 bg-slate-300 rounded-lg flex items-center justify-between font-iranyekanBold
  }

  .bg-table {
    @apply p-4 bg-slate-200 rounded-lg
  }

  .bg-glass {
    @apply bg-white/50 backdrop-blur-md rounded-xl border border-white/20 shadow-lg p-2
  }

  .bg-glass-dark {
    @apply bg-white/90 backdrop-blur-md rounded-xl border border-white/20 shadow-lg p-2
  }

  .text-responsive {
    @apply text-[10px] md:text-[12px]
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    /* -ms-overflow-style: none; */
    /* IE and Edge */
    scrollbar-color: "#cc3355";
    /* Firefox */
  }
}

/* input type file button */

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'بارگذاری از اکسل';
  display: inline-block;
  /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

input[type='file'] {
  color: transparent;
  width: 96px;
}

TableCell {
  font-size: 14px;
}